.bomItem{
  height: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  position: relative;
  height: auto;
  .square-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      background: #ffffff;
      border-bottom: 1px solid grey;
  }
  .square-box:before {
      content: "";
      display: block;
      padding-top: 100%;
  }
  .square-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: white;
      text-align: center;
      white-space: nowrap;
      text-align: center;
      .helper{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      img{
        width: 100%;
      }
  }
  p{
    text-align: center;
  }

  .statusBar{
    padding: 4px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    span{
      font-family: "Open Sans Bold"
    }
  }

  .bomItemTitle{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4% !important;
    font-weight: bolder;
    font-family: "Open Sans Bold";

    &:hover{
      white-space: normal !important;
    }
  }

}
